<a href="https://colab.research.google.com/github/Siddarth45/End-to-end-Score-prediction-Model/blob/main/ODI_end_to_end_score_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [150]:
import numpy as np
import pandas as pd

In [151]:
df=pd.read_csv('/content/ODI_Match_Data.csv.zip')

<ipython-input-151-a2c825be12fb>:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/ODI_Match_Data.csv.zip')

In [152]:
df.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1389389,2023/24,2023-09-24,"Holkar Cricket Stadium, Indore",1,0.1,India,Australia,RD Gaikwad,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1389389
1,1389389,2023/24,2023-09-24,"Holkar Cricket Stadium, Indore",1,0.2,India,Australia,RD Gaikwad,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1389389
2,1389389,2023/24,2023-09-24,"Holkar Cricket Stadium, Indore",1,0.3,India,Australia,RD Gaikwad,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1389389
3,1389389,2023/24,2023-09-24,"Holkar Cricket Stadium, Indore",1,0.4,India,Australia,RD Gaikwad,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1389389
4,1389389,2023/24,2023-09-24,"Holkar Cricket Stadium, Indore",1,0.5,India,Australia,RD Gaikwad,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1389389

In [153]:
len(df)

1265103

In [154]:
df.tail(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
1265098,64814,2002/03,2002-12-29,"McLean Park, Napier",2,42.6,India,New Zealand,J Srinath,Z Khan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64814
1265099,64814,2002/03,2002-12-29,"McLean Park, Napier",2,43.1,India,New Zealand,Z Khan,J Srinath,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64814
1265100,64814,2002/03,2002-12-29,"McLean Park, Napier",2,43.2,India,New Zealand,J Srinath,Z Khan,...,NaN,NaN,NaN,NaN,NaN,caught,J Srinath,NaN,NaN,64814
1265101,64814,2002/03,2002-12-29,"McLean Park, Napier",2,43.3,India,New Zealand,Z Khan,A Nehra,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64814
1265102,64814,2002/03,2002-12-29,"McLean Park, Napier",2,43.4,India,New Zealand,Z Khan,A Nehra,...,NaN,NaN,NaN,NaN,NaN,caught,Z Khan,NaN,NaN,64814

In [155]:
df['batting_team'].unique()

array(['India', 'Australia', 'England', 'Ireland', 'New Zealand',
       'Bangladesh', 'South Africa', 'Sri Lanka', 'Pakistan',
       'Afghanistan', 'Nepal', 'West Indies', 'Netherlands', 'Scotland',
       'United Arab Emirates', 'United States of America', 'Oman',
       'Zimbabwe', 'Jersey', 'Canada', 'Papua New Guinea', 'Namibia',
       'Hong Kong', 'Kenya', 'Bermuda', 'Asia XI', 'Africa XI',
       'ICC World XI'], dtype=object)

In [156]:
consistent_teams=['Australia', 'New Zealand', 'England', 'South Africa',
       'West Indies', 'Sri Lanka', 'Pakistan', 'India','Afghanistan',
       'Bangladesh', 'Zimbabwe', 'Ireland']

In [157]:
df=df[df['bowling_team'].isin(consistent_teams)]

In [158]:
df=df[df['batting_team'].isin(consistent_teams)]

In [159]:
df['bowling_team'].unique()

array(['Australia', 'India', 'Ireland', 'England', 'Bangladesh',
       'New Zealand', 'South Africa', 'Sri Lanka', 'Pakistan',
       'Afghanistan', 'West Indies', 'Zimbabwe'], dtype=object)

In [160]:
df=df.sort_values(['match_id', 'innings'], ascending=[ True,True])

In [161]:
df['overs']=df['ball']

In [162]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,overs
1264522,64814,2002/03,2002-12-29,"McLean Park, Napier",1,0.1,New Zealand,India,SP Fleming,NJ Astle,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,64814,0.1

In [163]:
df['ball']=df['ball'].astype(str)

In [164]:
df['over']=df['ball'].str[0:-1]

In [165]:
df['over']=df['over'].str.replace('.','')

<ipython-input-165-e14cda65f3b9>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['over']=df['over'].str.replace('.','')

In [166]:
df['ball']=df['ball'].str[-1:]

In [167]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,overs,over
1264522,64814,2002/03,2002-12-29,"McLean Park, Napier",1,1,New Zealand,India,SP Fleming,NJ Astle,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,64814,0.1,0

In [168]:
df['total_runs']=df['extras']+df['runs_off_bat']

In [169]:
df.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,overs,over,total_runs
1264522,64814,2002/03,2002-12-29,"McLean Park, Napier",1,1,New Zealand,India,SP Fleming,NJ Astle,...,1.0,NaN,NaN,NaN,NaN,NaN,64814,0.1,0,1
1264523,64814,2002/03,2002-12-29,"McLean Park, Napier",1,2,New Zealand,India,NJ Astle,SP Fleming,...,NaN,NaN,NaN,NaN,NaN,NaN,64814,0.2,0,0
1264524,64814,2002/03,2002-12-29,"McLean Park, Napier",1,3,New Zealand,India,NJ Astle,SP Fleming,...,NaN,NaN,NaN,NaN,NaN,NaN,64814,0.3,0,0
1264525,64814,2002/03,2002-12-29,"McLean Park, Napier",1,4,New Zealand,India,NJ Astle,SP Fleming,...,NaN,NaN,NaN,NaN,NaN,NaN,64814,0.4,0,1
1264526,64814,2002/03,2002-12-29,"McLean Park, Napier",1,5,New Zealand,India,SP Fleming,NJ Astle,...,NaN,NaN,NaN,NaN,NaN,NaN,64814,0.5,0,0

In [170]:
df.columns.unique()

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed', 'cricsheet_id', 'overs', 'over',
       'total_runs'],
      dtype='object')

In [171]:
df=df[['match_id', 'innings','batting_team', 'bowling_team','overs', 'over', 'ball','total_runs','player_dismissed' ]]

In [172]:
df=df.rename(columns={"match_id":"id"})

In [173]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
1264522,64814,1,New Zealand,India,0.1,0,1,1,NaN
1264523,64814,1,New Zealand,India,0.2,0,2,0,NaN
1264524,64814,1,New Zealand,India,0.3,0,3,0,NaN
1264525,64814,1,New Zealand,India,0.4,0,4,1,NaN
1264526,64814,1,New Zealand,India,0.5,0,5,0,NaN
...,...,...,...,...,...,...,...,...,...
1638,1395701,2,Bangladesh,New Zealand,40.3,40,3,1,NaN
1639,1395701,2,Bangladesh,New Zealand,40.4,40,4,0,NaN
1640,1395701,2,Bangladesh,New Zealand,40.5,40,5,0,NaN
1641,1395701,2,Bangladesh,New Zealand,40.6,40,6,0,NaN
1642,1395701,2,Bangladesh,New Zealand,41.1,41,1,0,Khaled Ahmed

In [174]:
df=df.replace(np.nan,0)

In [175]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
1264522,64814,1,New Zealand,India,0.1,0,1,1,0
1264523,64814,1,New Zealand,India,0.2,0,2,0,0
1264524,64814,1,New Zealand,India,0.3,0,3,0,0
1264525,64814,1,New Zealand,India,0.4,0,4,1,0
1264526,64814,1,New Zealand,India,0.5,0,5,0,0
...,...,...,...,...,...,...,...,...,...
1638,1395701,2,Bangladesh,New Zealand,40.3,40,3,1,0
1639,1395701,2,Bangladesh,New Zealand,40.4,40,4,0,0
1640,1395701,2,Bangladesh,New Zealand,40.5,40,5,0,0
1641,1395701,2,Bangladesh,New Zealand,40.6,40,6,0,0
1642,1395701,2,Bangladesh,New Zealand,41.1,41,1,0,Khaled Ahmed

In [176]:
df['total']=df.groupby(['id','innings'])['total_runs'].transform('sum')

In [177]:
df['total_score']=df.groupby(['id','innings'])['total_runs'].apply(lambda x:x.cumsum())

<ipython-input-177-db5b5cabc0b7>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['total_score']=df.groupby(['id','innings'])['total_runs'].apply(lambda x:x.cumsum())

In [178]:
df.head(7)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score
1264522,64814,1,New Zealand,India,0.1,0,1,1,0,254,1
1264523,64814,1,New Zealand,India,0.2,0,2,0,0,254,1
1264524,64814,1,New Zealand,India,0.3,0,3,0,0,254,1
1264525,64814,1,New Zealand,India,0.4,0,4,1,0,254,2
1264526,64814,1,New Zealand,India,0.5,0,5,0,0,254,2
1264527,64814,1,New Zealand,India,0.6,0,6,0,0,254,2
1264528,64814,1,New Zealand,India,1.1,1,1,1,0,254,3

In [179]:
tmp1=df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=60).sum().reset_index()

In [180]:
tmp1['total_runs']

0           1.0
1           1.0
2           1.0
3           2.0
4           2.0
           ...
1049500    28.0
1049501    27.0
1049502    27.0
1049503    27.0
1049504    27.0
Name: total_runs, Length: 1049505, dtype: float64

In [181]:
df['prev_60balls_run']=tmp1['total_runs'].to_list()

In [182]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_60balls_run
1264522,64814,1,New Zealand,India,0.1,0,1,1,0,254,1,1.0
1264523,64814,1,New Zealand,India,0.2,0,2,0,0,254,1,1.0
1264524,64814,1,New Zealand,India,0.3,0,3,0,0,254,1,1.0
1264525,64814,1,New Zealand,India,0.4,0,4,1,0,254,2,2.0
1264526,64814,1,New Zealand,India,0.5,0,5,0,0,254,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1638,1395701,2,Bangladesh,New Zealand,40.3,40,3,1,0,168,168,28.0
1639,1395701,2,Bangladesh,New Zealand,40.4,40,4,0,0,168,168,27.0
1640,1395701,2,Bangladesh,New Zealand,40.5,40,5,0,0,168,168,27.0
1641,1395701,2,Bangladesh,New Zealand,40.6,40,6,0,0,168,168,27.0
1642,1395701,2,Bangladesh,New Zealand,41.1,41,1,0,Khaled Ahmed,168,168,27.0

In [183]:
df['player_dismissed']=np.where(df['player_dismissed']== 0,0,1)
tmp2=df.groupby(['id','innings'])['player_dismissed'].rolling(min_periods=1, window=60).sum().reset_index()
df['prev_60balls_wickets']=tmp2['player_dismissed'].to_list()

In [184]:
df['total_wickets']=df.groupby(['id','innings'], group_keys=False)['player_dismissed'].apply(lambda x:x.cumsum())

In [185]:
df['prev_60balls_dots']=df['total_runs']
df['prev_60balls_dots']=np.where(df['prev_60balls_dots']== 0,1,0)
df.groupby(['id','innings'])['prev_60balls_dots'].rolling(min_periods=1, window=60).sum().reset_index()

              id  innings  level_2  prev_60balls_dots
0          64814        1  1264522                0.0
1          64814        1  1264523                1.0
2          64814        1  1264524                2.0
3          64814        1  1264525                2.0
4          64814        1  1264526                3.0
...          ...      ...      ...                ...
1049500  1395701        2     1638               46.0
1049501  1395701        2     1639               47.0
1049502  1395701        2     1640               47.0
1049503  1395701        2     1641               47.0
1049504  1395701        2     1642               47.0

[1049505 rows x 4 columns]

In [186]:
tmp3=df.groupby(['id','innings'])['prev_60balls_dots'].rolling(min_periods=1, window=60).sum().reset_index()
df['prev_60balls_dots']=tmp3['prev_60balls_dots'].to_list()

In [187]:
df.head(10)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_60balls_run,prev_60balls_wickets,total_wickets,prev_60balls_dots
1264522,64814,1,New Zealand,India,0.1,0,1,1,0,254,1,1.0,0.0,0,0.0
1264523,64814,1,New Zealand,India,0.2,0,2,0,0,254,1,1.0,0.0,0,1.0
1264524,64814,1,New Zealand,India,0.3,0,3,0,0,254,1,1.0,0.0,0,2.0
1264525,64814,1,New Zealand,India,0.4,0,4,1,0,254,2,2.0,0.0,0,2.0
1264526,64814,1,New Zealand,India,0.5,0,5,0,0,254,2,2.0,0.0,0,3.0
1264527,64814,1,New Zealand,India,0.6,0,6,0,0,254,2,2.0,0.0,0,4.0
1264528,64814,1,New Zealand,India,1.1,1,1,1,0,254,3,3.0,0.0,0,4.0
1264529,64814,1,New Zealand,India,1.2,1,2,0,0,254,3,3.0,0.0,0,5.0
1264530,64814,1,New Zealand,India,1.3,1,3,0,0,254,3,3.0,0.0,0,6.0
1264531,64814,1,New Zealand,India,1.4,1,4,0,0,254,3,3.0,0.0,0,7.0

In [188]:
df['prev_60balls_boundaries']=df['total_runs']
df['prev_60balls_boundaries']=np.where(df['prev_60balls_boundaries']>3,1,0)
df.groupby(['id','innings'])['prev_60balls_boundaries'].rolling(min_periods=1, window=60).sum().reset_index()

              id  innings  level_2  prev_60balls_boundaries
0          64814        1  1264522                      0.0
1          64814        1  1264523                      0.0
2          64814        1  1264524                      0.0
3          64814        1  1264525                      0.0
4          64814        1  1264526                      0.0
...          ...      ...      ...                      ...
1049500  1395701        2     1638                      3.0
1049501  1395701        2     1639                      3.0
1049502  1395701        2     1640                      3.0
1049503  1395701        2     1641                      3.0
1049504  1395701        2     1642                      3.0

[1049505 rows x 4 columns]

In [189]:
tmp4=df.groupby(['id','innings'])['prev_60balls_boundaries'].rolling(min_periods=1, window=60).sum().reset_index()
df['prev_60balls_boundaries']=tmp4['prev_60balls_boundaries'].to_list()

In [190]:
df.head(60)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_60balls_run,prev_60balls_wickets,total_wickets,prev_60balls_dots,prev_60balls_boundaries
1264522,64814,1,New Zealand,India,0.1,0,1,1,0,254,1,1.0,0.0,0,0.0,0.0
1264523,64814,1,New Zealand,India,0.2,0,2,0,0,254,1,1.0,0.0,0,1.0,0.0
1264524,64814,1,New Zealand,India,0.3,0,3,0,0,254,1,1.0,0.0,0,2.0,0.0
1264525,64814,1,New Zealand,India,0.4,0,4,1,0,254,2,2.0,0.0,0,2.0,0.0
1264526,64814,1,New Zealand,India,0.5,0,5,0,0,254,2,2.0,0.0,0,3.0,0.0
1264527,64814,1,New Zealand,India,0.6,0,6,0,0,254,2,2.0,0.0,0,4.0,0.0
1264528,64814,1,New Zealand,India,1.1,1,1,1,0,254,3,3.0,0.0,0,4.0,0.0
1264529,64814,1,New Zealand,India,1.2,1,2,0,0,254,3,3.0,0.0,0,5.0,0.0
1264530,64814,1,New Zealand,India,1.3,1,3,0,0,254,3,3.0,0.0,0,6.0,0.0
1264531,64814,1,New Zealand,India,1.4,1,4,0,0,254,3,3.0,0.0,0,7.0,0.0
1264532,64814,1,New Zealand,India,1.5,1,5,0,0,254,3,3.0,0.0,0,8.0,0.0
1264533,64814,1,New Zealand,India,1.6,1,6,2,0,254,5,5.0,0.0,0,8.0,0.0
1264534,64814,1,New Zealand,India,1.7,1,7,1,0,254,6,6.0,0.0,0,8.0,0.0
1264535,64814,1,New Zealand,India,1.8,1,8,3,0,254,9,9.0,0.0,0,8.0,0.0
1264536,64814,1,New Zealand,India,2.1,2,1,0,0,254,9,9.0,0.0,0,9.0,0.0
1264537,64814,1,New Zealand,India,2.2,2,2,0,0,254,9,9.0,0.0,0,10.0,0.0
1264538,64814,1,New Zealand,India,2.3,2,3,1,0,254,10,10.0,0.0,0,10.0,0.0
1264539,64814,1,New Zealand,India,2.4,2,4,0,0,254,10,10.0,0.0,0,11.0,0.0
1264540,64814,1,New Zealand,India,2.5,2,5,0,1,254,10,10.0,1.0,1,12.0,0.0
1264541,64814,1,New Zealand,India,2.6,2,6,0,0,254,10,10.0,1.0,1,13.0,0.0
1264542,64814,1,New Zealand,India,3.1,3,1,0,0,254,10,10.0,1.0,1,14.0,0.0
1264543,64814,1,New Zealand,India,3.2,3,2,1,0,254,11,11.0,1.0,1,14.0,0.0
1264544,64814,1,New Zealand,India,3.3,3,3,0,0,254,11,11.0,1.0,1,15.0,0.0
1264545,64814,1,New Zealand,India,3.4,3,4,1,0,254,12,12.0,1.0,1,15.0,0.0
1264546,64814,1,New Zealand,India,3.5,3,5,0,0,254,12,12.0,1.0,1,16.0,0.0
1264547,64814,1,New Zealand,India,3.6,3,6,0,0,254,12,12.0,1.0,1,17.0,0.0
1264548,64814,1,New Zealand,India,4.1,4,1,1,0,254,13,13.0,1.0,1,17.0,0.0
1264549,64814,1,New Zealand,India,4.2,4,2,0,0,254,13,13.0,1.0,1,18.0,0.0
1264550,64814,1,New Zealand,India,4.3,4,3,0,0,254,13,13.0,1.0,1,19.0,0.0
1264551,64814,1,New Zealand,India,4.4,4,4,0,0,254,13,13.0,1.0,1,20.0,0.0
1264552,64814,1,New Zealand,India,4.5,4,5,0,0,254,13,13.0,1.0,1,21.0,0.0
1264553,64814,1,New Zealand,India,4.6,4,6,0,0,254,13,13.0,1.0,1,22.0,0.0
1264554,64814,1,New Zealand,India,5.1,5,1,0,0,254,13,13.0,1.0,1,23.0,0.0
1264555,64814,1,New Zealand,India,5.2,5,2,2,0,254,15,15.0,1.0,1,23.0,0.0
1264556,64814,1,New Zealand,India,5.3,5,3,0,0,254,15,15.0,1.0,1,24.0,0.0
1264557,64814,1,New Zealand,India,5.4,5,4,2,0,254,17,17.0,1.0,1,24.0,0.0
1264558,64814,1,New Zealand,India,5.5,5,5,0,0,254,17,17.0,1.0,1,25.0,0.0
1264559,64814,1,New Zealand,India,5.6,5,6,0,0,254,17,17.0,1.0,1,26.0,0.0
1264560,64814,1,New Zealand,India,6.1,6,1,2,0,254,19,19.0,1.0,1,26.0,0.0
1264561,64814,1,New Zealand,India,6.2,6,2,0,0,254,19,19.0,1.0,1,27.0,0.0
1264562,64814,1,New Zealand,India,6.3,6,3,0,0,254,19,19.0,1.0,1,28.0,0.0
1264563,64814,1,New Zealand,India,6.4,6,4,0,0,254,19,19.0,1.0,1,29.0,0.0
1264564,64814,1,New Zealand,India,6.5,6,5,0,0,254,19,19.0,1.0,1,30.0,0.0
1264565,64814,1,New Zealand,India,6.6,6,6,0,0,254,19,19.0,1.0,1,31.0,0.0
1264566,64814,1,New Zealand,India,7.1,7,1,0,0,254,19,19.0,1.0,1,32.0,0.0
1264567,64814,1,New Zealand,India,7.2,7,2,0,0,254,19,19.0,1.0,1,33.0,0.0
1264568,64814,1,New Zealand,India,7.3,7,3,4,0,254,23,23.0,1.0,1,33.0,1.0
1264569,64814,1,New Zealand,India,7.4,7,4,0,0,254,23,23.0,1.0,1,34.0,1.0
1264570,64814,1,New Zealand,India,7.5,7,5,4,0,254,27,27.0,1.0,1,34.0,2.0
1264571,64814,1,New Zealand,India,7.6,7,6,0,0,254,27,27.0,1.0,1,35.0,2.0
1264572,64814,1,New Zealand,India,8.1,8,1,0,0,254,27,27.0,1.0,1,36.0,2.0
1264573,64814,1,New Zealand,India,8.2,8,2,0,0,254,27,27.0,1.0,1,37.0,2.0
1264574,64814,1,New Zealand,India,8.3,8,3,2,0,254,29,29.0,1.0,1,37.0,2.0
1264575,64814,1,New Zealand,India,8.4,8,4,4,0,254,33,33.0,1.0,1,37.0,3.0
1264576,64814,1,New Zealand,India,8.5,8,5,2,0,254,35,35.0,1.0,1,37.0,3.0
1264577,64814,1,New Zealand,India,8.6,8,6,0,0,254,35,35.0,1.0,1,38.0,3.0
1264578,64814,1,New Zealand,India,9.1,9,1,2,0,254,37,37.0,1.0,1,38.0,3.0
1264579,64814,1,New Zealand,India,9.2,9,2,0,0,254,37,37.0,1.0,1,39.0,3.0
1264580,64814,1,New Zealand,India,9.3,9,3,2,0,254,39,39.0,1.0,1,39.0,3.0
1264581,64814,1,New Zealand,India,9.4,9,4,2,0,254,41,41.0,1.0,1,39.0,3.0

In [191]:
convert_dict={'prev_60balls_run':int,	'prev_60balls_wickets':int,	'prev_60balls_dots':int,'prev_60balls_boundaries':int}
df=df.astype(convert_dict)

In [192]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_60balls_run,prev_60balls_wickets,total_wickets,prev_60balls_dots,prev_60balls_boundaries
1264522,64814,1,New Zealand,India,0.1,0,1,1,0,254,1,1,0,0,0,0
1264523,64814,1,New Zealand,India,0.2,0,2,0,0,254,1,1,0,0,1,0
1264524,64814,1,New Zealand,India,0.3,0,3,0,0,254,1,1,0,0,2,0
1264525,64814,1,New Zealand,India,0.4,0,4,1,0,254,2,2,0,0,2,0
1264526,64814,1,New Zealand,India,0.5,0,5,0,0,254,2,2,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,1395701,2,Bangladesh,New Zealand,40.3,40,3,1,0,168,168,28,3,9,46,3
1639,1395701,2,Bangladesh,New Zealand,40.4,40,4,0,0,168,168,27,3,9,47,3
1640,1395701,2,Bangladesh,New Zealand,40.5,40,5,0,0,168,168,27,3,9,47,3
1641,1395701,2,Bangladesh,New Zealand,40.6,40,6,0,0,168,168,27,3,9,47,3
1642,1395701,2,Bangladesh,New Zealand,41.1,41,1,0,1,168,168,27,4,10,47,3

In [194]:
file_path = '/content/ML_UPDATED_ODI.csv'
df.to_csv(file_path, index=False)

In [195]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_absolute_error

In [196]:
df.columns

Index(['id', 'innings', 'batting_team', 'bowling_team', 'overs', 'over',
       'ball', 'total_runs', 'player_dismissed', 'total', 'total_score',
       'prev_60balls_run', 'prev_60balls_wickets', 'total_wickets',
       'prev_60balls_dots', 'prev_60balls_boundaries'],
      dtype='object')

In [197]:
df=df[['batting_team','bowling_team','total_score','overs','total_wickets','prev_60balls_run','prev_60balls_wickets','prev_60balls_dots', 'prev_60balls_boundaries','total']]

In [ ]:
df.head(5)

# ML

In [198]:
x = df.drop(labels = ['total'], axis = 1)
y = df['total'].values

In [199]:
x_df = pd.DataFrame(x, columns=['batting_team', 'bowling_team', 'overs',
       'total_score','total_wickets',
       'prev_60balls_run', 'prev_60balls_wickets',
       'prev_60balls_dots', 'prev_60balls_boundaries'])
y_df = pd.DataFrame(y, columns=['total'])

In [200]:
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size = 0.25, random_state = 42, stratify = y_df)

In [201]:
x_train

,batting_team,bowling_team,overs,total_score,total_wickets,prev_60balls_run,prev_60balls_wickets,prev_60balls_dots,prev_60balls_boundaries
671481,Zimbabwe,Bangladesh,1.3,3,0,3,0,6,0
666399,South Africa,India,41.6,257,8,70,3,22,10
382817,Pakistan,Sri Lanka,7.5,23,1,23,1,34,2
1130205,South Africa,New Zealand,7.5,47,0,47,0,28,9
825840,England,Pakistan,40.4,266,6,77,3,17,8
...,...,...,...,...,...,...,...,...,...
369623,New Zealand,Pakistan,4.6,25,1,25,1,23,3
115572,Ireland,New Zealand,3.1,13,1,13,1,14,2
436931,Bangladesh,New Zealand,14.4,70,0,53,0,31,6
198533,Bangladesh,West Indies,7.4,33,1,33,1,30,4
475746,Australia,South Africa,16.5,74,5,56,3,32,7

In [202]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(787128, 9) (262377, 9) (787128, 1) (262377, 1)

In [203]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [204]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team'])
]
,remainder='passthrough')

In [205]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [206]:
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.826953422000213
13.779959855445302

In [207]:
pickle.dump(pipe,open('ODI_pipe.pkl','wb'))

In [ ]:
import xgboost
xgboost.__version__

'2.0.1'